<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Aplicação de classes de formação</title>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
        <style>
            .jumbotron {
                width: 800px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;

            }
            .form-control{
                margin-bottom: 5px;
            }
            .selecionado {
                background-color: yellow;
            }
            .negrito {
                font-weight: bold;
            }
            .classContatoForm{
                text-align: center
            }
            .formatandoNumero{
            	text-align: center
            }
        </style>
        <script src="lib/angularjs/angular.js"></script>
        <script src="lib/angularjs/angular-locale_pt-br.js"></script>
        <script src="lib/angularjs/angular-messages.js"></script>
        <script>
            angular.module("listaTelefonica", ["ngMessages"]);
            angular.module("listaTelefonica")
            .controller("listaTelefonicaCtrl",
            function ($scope) {
                $scope.app = "Lista Telefonica"; 
                $scope.contatos = [
                    {nome: "Pedro", telefone: "999999",data: new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}, cor: "blue"},
                    {nome: "Guilherme", telefone: "999999", data: new Date(), operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}, cor: "red"},
                    {nome: "Romer", telefone: "999999",data: new Date(), operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}, cor: "pink"},
                    {nome: "Rafael", telefone: "999999",data: new Date(), operadora: {nome: "GVT", codigo: 25, categoria: "Fixo"}, cor: "black"},
                ];
                $scope.operadoras = [
                    {nome: "Oi", codigo: 14, categoria: "Celular", preco: 2},
                    {nome: "Vivo", codigo: 15, categoria: "Celular", preco: 1},
                    {nome: "Tim", codigo: 41, categoria: "Celular", preco: 3},
                    {nome: "GVT", codigo: 25, categoria: "Fixo", preco: 1},
                    {nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 2}
                ];
                $scope.adicionarContato = function(contato){
                    $scope.contatos.push(angular.copy(contato));
                    //forma mais simples de fazer push
                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();
                };
                $scope.apagarContato = function(contatos){
                    
                    $scope.contatos = contatos.filter(function (contato){
                        if(!contato.selecionado) return contato;
                    });
                }
                $scope.isContatoSelecionado = function(contatos){
                   return contatos.some(function (contato) {
                       return contato.selecionado;
                   })
                    
               
                }
                $scope.classe1 = "selecionado";
                $scope.classe2 = "negrito";
                $scope.ordenarPor = function (campo) {
                	$scope.criterioDeOrdenacao = campo;
                	$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
                }
            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h4>{{app}}</h4>
            <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Oque você está buscando"/>
            <table ng-show="contatos.length > 0" class="table">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
                    <th><a href="" ng-click="ordenarPor('data')">Data</a></th>
                    <th></th>
                </tr>
                <tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos | limitTo:2 | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                    <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                    <td>{{contato.nome | uppercase}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome | lowercase}}</td>
                    <td>{{contato.data | date:'MMM MMMM EEEE EEE dd/MM/yyyy HH:mm'}}</td>
                    <td><div style="width: 20px; height: 20px" ng-style="{'background-color': contato.cor}"></div></td>
                </tr>
            </table>
            <hr/>  
            <form name="contatoForm">
                <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
                <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
                <select class="form-control" ng-model="contato.operadora" name="operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-required="true">
                    <option value="">Selecione a operadora</option>
                </select>
            </form>
            <div ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error"  class="alert alert-danger">
                 <div ng-message="required">
	            	Por favor, preencha o campo nome!
	            </div>
	            
	            <div ng-message="minlength">
	            	O campo nome deve ter no mínimo 10 caracteres.
	            </div>
	        </div> 
	        <div ng-show="contatoForm.telefone.$error.pattern || contatoForm.contato.$invalid || contatoForm.contato.$dirty" ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
	        
	        	<div ng-message="required">
	            	Por favor, preencha o campo telefone!
	            </div>
	             <div ng-message="pattern">
	            	O campo telefone deve ter o formato DDDDD-DDDDD
	            </div>
	        </div>    
	            <div ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" class="alert alert-danger">
	            	Por favor, preencha o campo operadora!
	            </div>
	        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contato</button> 
        </div>
        <div ng-include="'footer.html'"></div> 
        <div class="formatandoNumero">{{ 100.2 | number : 2}}</div>       
    </body>
</html>